script(src='/jquery/1.11.2/jquery-1.11.2.min.js')
script(src='/jquery/formPlugin/jquery.form.min.js')
script(src='/bootstrap/3.3.4/js/bootstrap.min.js')
script(src='/bootstrap-select/js/bootstrap-select.min.js')
script(src='/i18next/i18next.min.js')
script(src='/js/comun/controllers/comunController.js')
script(src='/js/comun/view/comunInit.js')
script(src='/js/comun/message.js')
script(src='/js/comun/genericModal.js')

