nav.navbar.navbar-default.navbar-inverse.navbar-static-top
    div.container-fluid
        div.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                button(type="button")#btn-logout.btn.btn-default.navbar-btn= __("navbar.button.signout")
