
extends ../layout

block content
    include account

block scripts
    script(src='/js/views/signup.js')
    script(src='/js/controllers/signupController.js')
    script(src='/js/form-validators/accountValidator.js')
